# Some of these test cases should fail, it is expected

name: Validate 'setup-xamarin' (all test cases)
on:
  pull_request:
    types: [ labeled ]

jobs:
  invalid-version-format:
    name: invalid version format (should fail)
    runs-on: macos-latest
    steps:
    - name: setup-xamarin
      id: test
      uses: ./
      with:
        xamarin-mac-version: 6_6_0 # this version has invalid format

  xamarin-version-not-found:
    name: Xamarin.iOS version is not found (should fail)
    runs-on: macos-latest
    steps:
    - name: setup-xamarin
      id: test
      uses: ./
      with:
        mono-version: 6.6
        xamarin-ios-version: 11.1 # this versino doesn't exist

  xcode-version-not-found:
    name: Xcode version is not found (should fail)
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: setup-xamarin
      uses: ./
      with:
        xcode-version: 10.3

  invalid-platform:
    name: invalid platform (should fail)
    runs-on: ubuntu-latest
    steps:
    - name: setup-xamarin
      id: test
      uses: ./
      with:
        mono-version: latest
        xamarin-ios-version: latest
        xamarin-mac-version: latest
        xamarin-android-version: latest